<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>7D9B92F0-2492-42B1-A4E7-047728C1F6AC</string>
	<key>SDK</key>
	<string>iPhoneOS15.6.sdk</string>
</dict>
</plist>